<h2 {% if site.style == 'dark' %}class="text-white"{% endif %}>About Me</h2>
<!-- <p class="f4 mb-4 {% if site.style == 'dark' %}text-white{% else %}text-gray{% endif %}">GitHub repositories that I've built.</p> -->
<p class="f4 mb-4 {% if site.style == 'dark' %}text-white{% else %}text-gray{% endif %}">
   I am a Ph.D. student at VIDA center, supervised by Prof. Claudio Silva. 
    My Primary research interests are in visual analytics on machine learning models and computer vision applied to video understanding. 
    I have been working on explaining and improving the performance of the computer vision model on sports videos.
</p>
<div class="d-sm-flex flex-wrap gutter-condensed mb-4">
</div>
