<h2 {% if site.style == 'dark' %}class="text-white"{% endif %}>Publication</h2>
<ul class="f4 mb-4 {% if site.style == 'dark' %}text-white{% else %}text-gray{% endif %}", style="margin-left: 20px">
    <li>Ge, Y.*,<b>Zhao, S.*</b>, Zhou, H., Pei, C., Sun, F., Ou, W., and Zhang, Y..
        Understanding Echo Chambers in E-commerce Recommender Systems.
        In Proceedings of SIGIR 2020Industry Track, July 25−30, 2020, Xi’An, China 
        <br> 
        <a href="https://arxiv.org/pdf/2007.02474.pdf">PDF</a>
        <a href="https://github.com/szhaofelicia/EchoChamberInEcommerce">Project</a>
         
    </li>
</ul>


